archive-sp.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- meta-->
		<!-- GoogleTagManager(Script)-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="description" content="これはデフォルトのスクリプション">
		<title>アーカイブ（スマホ）</title>
		<link rel="canonical" href="https://XXX.jp/">
		<meta property="og:title" content="アーカイブ（スマホ）">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://XXX.jp/">
		<meta property="og:image" content="https://XXX.jp/asset/img/ogp.png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:site_name" content="アーカイブ（スマホ）">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@twitter_name">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/asset/css/application-1.0.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
		<link rel="stylesheet" href="/asset/css/style.css">
	</head>
	<body>
		<div id="wrapper">
			<header class="spheader" id="header">
				<div class="spheader__inner">
					<div class="spheader--left">
						<div class="menu_trigger js-menuOpen"><img src="/asset/img/btn_menu.png" alt="MENU"></div>
					</div>
					<div class="spheader--center">
						<div class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"></a></div>
					</div>
					<div class="spheader--right">
						<div class="controller">
							<div class="button__mypage"><a href="/mypage"><img src="/asset/img/icon_user.png" alt="My page"></a></div>
							<div class="button__search js-searchToggle"><img src="/asset/img/icon_search.png" alt="検索"></div>
						</div>
					</div>
				</div>
				<nav class="nav">
					<ul class="navlist js-navList">
						<!-- URL current は .is_current を付与する-->
						<li class="navlist__item"><a href="/">News & Topics</a></li>
						<li class="navlist__item"><a href="/">People</a></li>
						<li class="navlist__item"><a href="/">Column</a></li>
						<li class="navlist__item"><a href="/">Library</a></li>
					</ul>
				</nav>
				<div class="navcontent">
					<ul class="navcontent__list">
						<li class="navcontent__item"><a href="">受注速報</a></li>
						<li class="navcontent__item"><a href="">営業報告</a></li>
						<li class="navcontent__item"><a href="">プロジェクトストーリー</a></li>
						<li class="navcontent__item"><a href="">社内スペシャリスト投票</a></li>
						<li class="navcontent__item"><a href="">セミナー</a></li>
						<li class="navcontent__item"><a href="">管理部からのお知らせ</a></li>
					</ul>
					<ul class="navcontent__list">
						<li class="navcontent__item"><a href="">社員インタビュー</a></li>
						<li class="navcontent__item"><a href="">SHARE CONNECTION</a></li>
						<li class="navcontent__item"><a href="">新入社員紹介</a></li>
					</ul>
					<ul class="navcontent__list">
						<li class="navcontent__item"><a href="">社内報おすすめコーナー紹介</a></li>
						<li class="navcontent__item"><a href="">はた研よ大志を抱け！</a></li>
						<li class="navcontent__item"><a href="">会社近くのおすすめスポット</a></li>
						<li class="navcontent__item"><a href="">巣鴨食べログ</a></li>
					</ul>
					<ul class="navcontent__list">
						<li class="navcontent__item"><a href="">バックナンバー</a></li>
						<li class="navcontent__item"><a href="">広報部発行資料</a></li>
					</ul>
				</div>
				<div class="searchinput">
					<div class="searchinput__inner js-searchInput">
						<form class="search" action="/search" role="search">
							<input type="text" placeholder="記事を検索" name="q" value="">
							<button type="submit"><span class="fa fa-search text-muted"></span></button>
						</form>
					</div>
				</div>
				<div class="sidemenu js-sidemenu">
					<div class="siedmenu__inner">
						<div class="button__close js-menuClose"><img src="/asset/img/btn_close.png" alt="閉じる"></div>
						<ul class="sidemenu__list">
							<li class="sidemenu__item"><a href="">News & Topics</a>
								<ul class="child bg--gray">
									<li class="child__item"><a href="">受注速報</a></li>
									<li class="child__item"><a href="">営業報告</a></li>
									<li class="child__item"><a href="">プロジェクトストーリー</a></li>
									<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
									<li class="child__item"><a href="">セミナー</a></li>
									<li class="child__item"><a href="">管理部からのお知らせ</a></li>
								</ul>
							</li>
							<li class="sidemenu__item"><a href="">People</a>
								<ul class="child">
									<li class="child__item"><a href="">社員インタビュー</a></li>
									<li class="child__item"><a href="">SHARE CONNECTION</a></li>
									<li class="child__item"><a href="">新入社員紹介</a></li>
								</ul>
							</li>
							<li class="sidemenu__item"><a href="">Column</a>
								<ul class="child">
									<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
									<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
									<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
									<li class="child__item"><a href="">巣鴨食べログ</a></li>
								</ul>
							</li>
							<li class="sidemenu__item"><a href="">Library</a>
								<ul class="child">
									<li class="child__item"><a href="">バックナンバー</a></li>
									<li class="child__item"><a href="">広報部発行資料</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<div class="breadcrumb">
				<div class="breadcrumb__inner">
					<ul class="breadcrumb__list">
						<li class="breadcrumb__item"><a href="/">トップ</a></li>
						<li class="breadcrumb__item current"><a href="/">アーカイブタイトル</a></li>
					</ul>
				</div>
			</div>
			<main id="main">
				<div class="container">
					<div class="archivelist">
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="pagination">
						<li class="prev disabled"><a href="#" rel="prev"><span class="fa fa-angle-double-left"></span></a></li>
						<li class="page active"><a href="/">1</a></li>
						<li class="page"><a href="/?page=2">2</a></li>
						<li class="page"><a href="/?page=3">3</a></li>
						<li class="page gap disabled"><a href="#" onclick="return false;">…</a></li>
						<li class="next_page"><a href="/?page=2" rel="next"><span class="fa fa-angle-double-right"></span></a></li>
					</ul>
				</div>
				<div class="container">
					<h3 class="archive__ttl">人気ランキング</h3>
					<div class="archivelist type__ranking">
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<h3 class="archive__ttl">おすすめ記事</h3>
					<div class="archivelist">
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div class="pagetop"><a href="#wrapper"><img src="/asset/img/page_top.png" alt="ページの先頭へ戻る"></a></div>
			<footer class="spfooter" id="footer">
				<div class="ftr__logo"><a href="" target="_blank"><img src="/asset/img/logo_shc.svg" alt="SHC"></a></div>
				<div class="copy"><small>Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.</small></div>
			</footer>
		</div>
		<!--end wrapper-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
		<script src="/asset/js/index.min.js"></script>
	</body>
</html>

source/pug/archive-sp.pug
//- ----------------------------------------------------------------------------
- var site_name = "アーカイブ（スマホ）"
- var site_url = "https://XXX.jp/"
- var site_domain = "https://XXX.jp/"
//- ----------------------------------------------------------------------------
//- <head>情報
- var head_title = site_name
- var head_meta_viewport = "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
- var head_meta_description = "これはデフォルトのスクリプション"
//- ----------------------------------------------------------------------------
//- <link>
- var head_link_canonical = site_url
- var head_link_prev = ""
- var head_link_next = ""
//- ----------------------------------------------------------------------------
//- Facebook Open Graph
- var head_meta_og_site_name = site_name
- var head_meta_og_url = site_url
- var head_meta_og_title = head_title
- var head_meta_og_description = head_meta_description
- var head_meta_og_type = "article"
- var head_meta_og_image = "https://XXX.jp/asset/img/ogp.png"
- var head_meta_og_image_width = "1200"
- var head_meta_og_image_height = "630"
//- ----------------------------------------------------------------------------
//- Twitter
- var head_meta_twitter_card = "summary_large_image"
- var head_meta_twitter_site = "@twitter_name"
//- ----------------------------------------------------------------------------
//- SNSボタンの中身
- var sns_btn_twitter = ""
- var sns_btn_fb = ""
- var sns_btn_line = ""
//- ページ判定（自由記述）
- var page = "archive_sp";

doctype
html(lang="ja")
  head
    include ./_inc/html_head
    include ./_inc/link_css
  body
    #wrapper
      include ./_inc/header_sp
      .breadcrumb
        .breadcrumb__inner
          ul.breadcrumb__list
            li.breadcrumb__item
              a(href="/") トップ
            li.breadcrumb__item.current
              a(href="/") アーカイブタイトル
      main#main
        .container
          .archivelist
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_299368979_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_301662117_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
          ul.pagination
            li.prev.disabled
              a(href="#", rel="prev")
                span.fa.fa-angle-double-left
            li.page.active
              a(href="/") 1
            li.page
              a(href="/?page=2") 2
            li.page
              a(href="/?page=3") 3
            li.page.gap.disabled
              a(href="#", onclick="return false;") …
            li.next_page
              a(href="/?page=2", rel="next")
                span.fa.fa-angle-double-right
        .container
          h3.archive__ttl 人気ランキング
          .archivelist.type__ranking
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
        .container
          h3.archive__ttl おすすめ記事
          .archivelist
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_184234343_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_241368275_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_197578101_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/AdobeStock_286227563_Preview.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
      include ./_inc/footer_sp
    //end wrapper
    include ./_inc/link_js
