index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- meta-->
		<!-- GoogleTagManager(Script)-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta name="description" content="これはデフォルトのスクリプション">
		<title>TOP</title>
		<link rel="canonical" href="https://XXX.jp/">
		<meta property="og:title" content="TOP">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://XXX.jp/">
		<meta property="og:image" content="https://XXX.jp/asset/img/ogp.png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:site_name" content="TOP">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@twitter_name">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/asset/css/application-1.0.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
		<link rel="stylesheet" href="/asset/css/style.css">
	</head>
	<body>
		<div id="wrapper">
			<header class="header" id="header">
				<div class="header__inner">
					<div class="header--left">
						<h1 class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"></a></h1>
					</div>
					<div class="header--center">
						<nav class="nav">
							<ul class="navlist">
								<li class="navlist__item"><a href="/">News & Topics</a>
									<div class="child">
										<ul class="child__list">
											<li class="child__item"><a href="">受注速報</a></li>
											<li class="child__item"><a href="">営業報告</a></li>
											<li class="child__item"><a href="">プロジェクトストーリー</a></li>
											<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
											<li class="child__item"><a href="">セミナー</a></li>
											<li class="child__item"><a href="">管理部からのお知らせ</a></li>
										</ul>
									</div>
								</li>
								<li class="navlist__item"><a href="/">People</a>
									<div class="child">
										<ul class="child__list">
											<li class="child__item"><a href="">社員インタビュー</a></li>
											<li class="child__item"><a href="">SHARE CONNECTION</a></li>
											<li class="child__item"><a href="">新入社員紹介</a></li>
										</ul>
									</div>
								</li>
								<li class="navlist__item"><a href="/">Column</a>
									<div class="child">
										<ul class="child__list">
											<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
											<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
											<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
											<li class="child__item"><a href="">巣鴨食べログ</a></li>
										</ul>
									</div>
								</li>
								<li class="navlist__item"><a href="/">Library</a>
									<div class="child">
										<ul class="child__list">
											<li class="child__item"><a href="">バックナンバー</a></li>
											<li class="child__item"><a href="">広報部発行資料</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<div class="header--right">
						<div class="controller">
							<div class="searchinput">
								<form class="search" action="/search" role="search">
									<input type="text" placeholder="記事を検索" name="q" value="">
									<button type="submit"><span class="fa fa-search text-muted"></span></button>
								</form>
							</div>
							<div class="button__mypage"><a href="/mypage">My Page</a></div>
						</div>
					</div>
				</div>
			</header>
			<main id="main">
				<div class="container">
					<div class="rows rows--first">
						<div class="col">
							<div class="card__default"><a href=""></a>
								<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
								<div class="txtarea">
									<div class="catname">社員インタビュー</div>
									<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
									<div class="articles">
										<div class="articles__data">2019/11/11</div>
										<div class="articles__view">1,000</div>
										<div class="articles__like">2,800</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card__list type__ranking">
								<h3 class="card_ttl">ランキング</h3>
								<ul class="cardlist">
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">社員インタビュー</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">SHARE CONNECTION</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">社員インタビュー</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">会社近くのおすすめスポット</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">新入社員紹介</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="rows rows--second">
						<div class="col">
							<div class="card__list">
								<h3 class="card_ttl">おすすめ</h3>
								<ul class="cardlist">
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">社員インタビュー</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">SHARE CONNECTION</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">社員インタビュー</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">会社近くのおすすめスポット</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
									<li class="cardlist__item"><a href="">
											<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
											<div class="txtarea">
												<div class="catename">新入社員紹介</div>
												<h4 class="article_ttl">できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…</h4>
												<div class="articles">
													<div class="articles__data">2019/11/11</div>
													<div class="articles__view">1,000</div>
													<div class="articles__like">2,800</div>
												</div>
											</div></a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<ul class="panels">
								<li class="panels__item">
									<div class="card__default"><a href=""></a>
										<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
										<div class="txtarea">
											<div class="catname">社員インタビュー</div>
											<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="panels__item">
									<div class="card__default"><a href=""></a>
										<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
										<div class="txtarea">
											<div class="catname">社員インタビュー</div>
											<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="panels__item">
									<div class="card__default"><a href=""></a>
										<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
										<div class="txtarea">
											<div class="catname">社員インタビュー</div>
											<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="panels__item">
									<div class="card__default"><a href=""></a>
										<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
										<div class="txtarea">
											<div class="catname">社員インタビュー</div>
											<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="panels__item">
									<div class="card__default"><a href=""></a>
										<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
										<div class="txtarea">
											<div class="catname">社員インタビュー</div>
											<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="rows rows--third">
						<div class="col">
							<ul class="listmovie js-listMovie tab__content tab">
								<li class="movie__item tab__item is_active">
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										<div class="txtarea">
											<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
											<h3 class="article_ttl"><a href="">LEADER INTERVIEW 相山大輔（1）</a></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="movie__item tab__item">
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										<div class="txtarea">
											<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
											<h3 class="article_ttl"><a href="">LEADER INTERVIEW 相山大輔（2）</a></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="movie__item tab__item">
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										<div class="txtarea">
											<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
											<h3 class="article_ttl"><a href="">LEADER INTERVIEW 相山大輔（3）</a></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="col">
							<ul class="listmovie tab__head tab">
								<li class="movie__item tabs is_current">
									<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<div class="txtarea">
											<h3 class="article_ttl"></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="movie__item tabs">
									<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<div class="txtarea">
											<h3 class="article_ttl"></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
								<li class="movie__item tabs">
									<div class="icon_movie"><img src="/asset/img/icon_movie.png"></div>
									<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt="">
										<div class="txtarea">
											<h3 class="article_ttl"></h3>
											<div class="articles">
												<div class="articles__data">2019/11/11</div>
												<div class="articles__view">1,000</div>
												<div class="articles__like">2,800</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="rows rows--fourth">
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<div class="card__default"><a href=""></a>
							<div class="ph"><img class="lazy" data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif" alt=""></div>
							<div class="txtarea">
								<div class="catname">社員インタビュー</div>
								<h2 class="article_ttl">不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。</h2>
								<div class="articles">
									<div class="articles__data">2019/11/11</div>
									<div class="articles__view">1,000</div>
									<div class="articles__like">2,800</div>
								</div>
							</div>
						</div>
						<ul class="pagination">
							<li class="prev disabled"><a href="#" rel="prev"><span class="fa fa-angle-double-left"></span></a></li>
							<li class="page active"><a href="/">1</a></li>
							<li class="page"><a href="/?page=2">2</a></li>
							<li class="page"><a href="/?page=3">3</a></li>
							<li class="page gap disabled"><a href="#" onclick="return false;">…</a></li>
							<li class="next_page"><a href="/?page=2" rel="next"><span class="fa fa-angle-double-right"></span></a></li>
						</ul>
					</div>
				</div>
			</main>
			<div class="pagetop"><a href="#wrapper"><img src="/asset/img/page_top.png" alt="ページの先頭へ戻る"></a></div>
			<footer class="footer" id="footer">
				<div class="footer__inner">
					<ul class="links">
						<li class="links__item item--logo"><a href="" target="_blank"><img src="/asset/img/logo_shc.svg" alt="SHC"></a></li>
						<li class="links__item"><a href="">Home</a></li>
						<li class="links__item"><a href="">News & Topics</a>
							<ul class="child">
								<li class="child__item"><a href="">受注速報</a></li>
								<li class="child__item"><a href="">営業報告</a></li>
								<li class="child__item"><a href="">プロジェクトストーリー</a></li>
								<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
								<li class="child__item"><a href="">セミナー</a></li>
								<li class="child__item"><a href="">管理部からのお知らせ</a></li>
							</ul>
						</li>
						<li class="links__item"><a href="">People</a>
							<ul class="child">
								<li class="child__item"><a href="">社員インタビュー</a></li>
								<li class="child__item"><a href="">SHARE CONNECTION</a></li>
								<li class="child__item"><a href="">新入社員紹介</a></li>
							</ul>
						</li>
						<li class="links__item"><a href="">Column</a>
							<ul class="child">
								<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
								<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
								<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
								<li class="child__item"><a href="">巣鴨食べログ</a></li>
							</ul>
						</li>
						<li class="links__item"><a href="">Library</a>
							<ul class="child">
								<li class="child__item"><a href="">バックナンバー</a></li>
								<li class="child__item"><a href="">広報部発行資料</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="copy">
					<div class="copy__inner">Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.</div>
				</div>
			</footer>
		</div>
		<!--end wrapper-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
		<script src="/asset/js/index.min.js"></script>
	</body>
</html>

source/pug/index.pug
//- ----------------------------------------------------------------------------
- var site_name = "TOP"
- var site_url = "https://XXX.jp/"
- var site_domain = "https://XXX.jp/"
//- ----------------------------------------------------------------------------
//- <head>情報
- var head_title = site_name
- var head_meta_viewport = "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"
- var head_meta_description = "これはデフォルトのスクリプション"
//- ----------------------------------------------------------------------------
//- <link>
- var head_link_canonical = site_url
- var head_link_prev = ""
- var head_link_next = ""
//- ----------------------------------------------------------------------------
//- Facebook Open Graph
- var head_meta_og_site_name = site_name
- var head_meta_og_url = site_url
- var head_meta_og_title = head_title
- var head_meta_og_description = head_meta_description
- var head_meta_og_type = "article"
- var head_meta_og_image = "https://XXX.jp/asset/img/ogp.png"
- var head_meta_og_image_width = "1200"
- var head_meta_og_image_height = "630"
//- ----------------------------------------------------------------------------
//- Twitter
- var head_meta_twitter_card = "summary_large_image"
- var head_meta_twitter_site = "@twitter_name"
//- ----------------------------------------------------------------------------
//- SNSボタンの中身
- var sns_btn_twitter = ""
- var sns_btn_fb = ""
- var sns_btn_line = ""
//- ページ判定（自由記述）
- var page = "top";

doctype
html(lang="ja")
  head
    include ./_inc/html_head
    include ./_inc/link_css
  body
    #wrapper
      include ./_inc/header
      main#main
        .container
          .rows.rows--first
            .col
              .card__default
                a(href="")
                .ph
                  img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                .txtarea
                  .catname 社員インタビュー
                  h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                  .articles
                    .articles__data 2019/11/11
                    .articles__view 1,000
                    .articles__like 2,800
            .col
              .card__list.type__ranking
                h3.card_ttl ランキング
                ul.cardlist
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename SHARE CONNECTION
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 会社近くのおすすめスポット
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 新入社員紹介
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
          .rows.rows--second
            .col
              .card__list
                h3.card_ttl おすすめ
                ul.cardlist
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename SHARE CONNECTION
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 社員インタビュー
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 会社近くのおすすめスポット
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
                  li.cardlist__item
                    a(href="")
                      .ph
                        img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                      .txtarea
                        .catename 新入社員紹介
                        h4.article_ttl できないの前に、できるを探す。制作の努力を仕事に変えられるのは、…
                        .articles
                          .articles__data 2019/11/11
                          .articles__view 1,000
                          .articles__like 2,800
            .col
              ul.panels
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.panels__item
                  .card__default
                    a(href="")
                    .ph
                      img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      .catname 社員インタビュー
                      h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
          .rows.rows--third
            .col
              ul.listmovie.js-listMovie.tab__content.tab
                li.movie__item.tab__item.is_active
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（1）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tab__item
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（2）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tab__item
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/VmpflEtnBrc?rel=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                    .txtarea
                      .icon_movie
                        img(src="/asset/img/icon_movie.png")
                      h3.article_ttl
                        a(href="") LEADER INTERVIEW 相山大輔（3）
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
            .col
              ul.listmovie.tab__head.tab
                li.movie__item.tabs.is_current
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tabs
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
                li.movie__item.tabs
                  .icon_movie
                    img(src="/asset/img/icon_movie.png")
                  .ph
                    img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
                    .txtarea
                      h3.article_ttl
                      .articles
                        .articles__data 2019/11/11
                        .articles__view 1,000
                        .articles__like 2,800
          .rows.rows--fourth
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_16_9.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_3_2.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            .card__default
              a(href="")
              .ph
                img(data-original="/asset/img/dummy/sample_4_3.jpg" src="/asset/img/lazy_img.gif", alt="").lazy
              .txtarea
                .catname 社員インタビュー
                h2.article_ttl 不格好だろうと気にしない。泥臭くても、「まずはやってみる」。その経験を積むことが大事だと思います。
                .articles
                  .articles__data 2019/11/11
                  .articles__view 1,000
                  .articles__like 2,800
            ul.pagination
              li.prev.disabled
                a(href="#", rel="prev")
                  span.fa.fa-angle-double-left
              li.page.active
                a(href="/") 1
              li.page
                a(href="/?page=2") 2
              li.page
                a(href="/?page=3") 3
              li.page.gap.disabled
                a(href="#", onclick="return false;") …
              li.next_page
                a(href="/?page=2", rel="next")
                  span.fa.fa-angle-double-right

      include ./_inc/footer
    //end wrapper
    include ./_inc/link_js
