_inc/footer.html

<div class="pagetop"><a href="#wrapper"><img src="/asset/img/page_top.png" alt="ページの先頭へ戻る"/></a></div>
<footer class="footer" id="footer">
	<div class="footer__inner">
		<ul class="links">
			<li class="links__item item--logo"><a href="" target="_blank"><img src="/asset/img/logo_shc.svg" alt="SHC"/></a></li>
			<li class="links__item"><a href="">Home</a></li>
			<li class="links__item"><a href="">News & Topics</a>
				<ul class="child">
					<li class="child__item"><a href="">受注速報</a></li>
					<li class="child__item"><a href="">営業報告</a></li>
					<li class="child__item"><a href="">プロジェクトストーリー</a></li>
					<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
					<li class="child__item"><a href="">セミナー</a></li>
					<li class="child__item"><a href="">管理部からのお知らせ</a></li>
				</ul>
			</li>
			<li class="links__item"><a href="">People</a>
				<ul class="child">
					<li class="child__item"><a href="">社員インタビュー</a></li>
					<li class="child__item"><a href="">SHARE CONNECTION</a></li>
					<li class="child__item"><a href="">新入社員紹介</a></li>
				</ul>
			</li>
			<li class="links__item"><a href="">Column</a>
				<ul class="child">
					<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
					<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
					<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
					<li class="child__item"><a href="">巣鴨食べログ</a></li>
				</ul>
			</li>
			<li class="links__item"><a href="">Library</a>
				<ul class="child">
					<li class="child__item"><a href="">バックナンバー</a></li>
					<li class="child__item"><a href="">広報部発行資料</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="copy">
		<div class="copy__inner">Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.</div>
	</div>
</footer>

source/pug/_inc/footer.pug
.pagetop
  a(href="#wrapper")
    img(src="/asset/img/page_top.png", alt="ページの先頭へ戻る")
footer#footer.footer
  .footer__inner
    ul.links
      li.links__item.item--logo
        a(href="", target="_blank")
          img(src="/asset/img/logo_shc.svg", alt="SHC")
      li.links__item
        a(href="") Home
      li.links__item
        a(href="") News & Topics
        ul.child
          li.child__item
            a(href="") 受注速報
          li.child__item
            a(href="") 営業報告
          li.child__item
            a(href="") プロジェクトストーリー
          li.child__item
            a(href="") 社内スペシャリスト投票
          li.child__item
            a(href="") セミナー
          li.child__item
            a(href="") 管理部からのお知らせ
      li.links__item
        a(href="") People
        ul.child
          li.child__item
            a(href="") 社員インタビュー
          li.child__item
            a(href="") SHARE CONNECTION
          li.child__item
            a(href="") 新入社員紹介
      li.links__item
        a(href="") Column
        ul.child
          li.child__item
            a(href="") 社内報おすすめコーナー紹介
          li.child__item
            a(href="") はた研よ大志を抱け！
          li.child__item
            a(href="") 会社近くのおすすめスポット
          li.child__item
            a(href="") 巣鴨食べログ
      li.links__item
        a(href="") Library
        ul.child
          li.child__item
            a(href="") バックナンバー
          li.child__item
            a(href="") 広報部発行資料
  .copy
    .copy__inner Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.
