source/pug/_inc/footer_sp.pug
.pagetop
  a(href="#wrapper")
    img(src="/asset/img/page_top.png", alt="ページの先頭へ戻る")
footer#footer.spfooter
  .ftr__logo
    a(href="", target="_blank")
      img(src="/asset/img/logo_shc.svg", alt="SHC")
  .copy
    small Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.

_inc/footer_sp.html

<div class="pagetop"><a href="#wrapper"><img src="/asset/img/page_top.png" alt="ページの先頭へ戻る"/></a></div>
<footer class="spfooter" id="footer">
	<div class="ftr__logo"><a href="" target="_blank"><img src="/asset/img/logo_shc.svg" alt="SHC"/></a></div>
	<div class="copy"><small>Copyright © Sangyo Henshu Center Co.,Ltd. All rights reserved.</small></div>
</footer>
