source/pug/_inc/header_sp.pug
header#header.spheader
  .spheader__inner
    .spheader--left
      .menu_trigger.js-menuOpen
        img(src="/asset/img/btn_menu.png", alt="MENU")
    .spheader--center
      if page == 'top'
        h1.logo
          a(href="/")
            img(src="/asset/img/logo.png", alt="Sanpen.net")
      else
        .logo
          a(href="/")
            img(src="/asset/img/logo.png", alt="Sanpen.net")
    .spheader--right
      .controller
        .button__mypage
          a(href="/mypage")
            img(src="/asset/img/icon_user.png", alt="My page")
        .button__search.js-searchToggle
          img(src="/asset/img/icon_search.png", alt="検索")
  nav.nav
    ul.navlist.js-navList
      // URL current は .is_current を付与する
      li.navlist__item
        a(href="/") News & Topics
      li.navlist__item
        a(href="/") People
      li.navlist__item
        a(href="/") Column
      li.navlist__item
        a(href="/") Library
  .navcontent
    ul.navcontent__list
      li.navcontent__item
        a(href="") 受注速報
      li.navcontent__item
        a(href="") 営業報告
      li.navcontent__item
        a(href="") プロジェクトストーリー
      li.navcontent__item
        a(href="") 社内スペシャリスト投票
      li.navcontent__item
        a(href="") セミナー
      li.navcontent__item
        a(href="") 管理部からのお知らせ
    ul.navcontent__list
      li.navcontent__item
        a(href="") 社員インタビュー
      li.navcontent__item
        a(href="") SHARE CONNECTION
      li.navcontent__item
        a(href="") 新入社員紹介
    ul.navcontent__list
      li.navcontent__item
        a(href="") 社内報おすすめコーナー紹介
      li.navcontent__item
        a(href="") はた研よ大志を抱け！
      li.navcontent__item
        a(href="") 会社近くのおすすめスポット
      li.navcontent__item
        a(href="") 巣鴨食べログ
    ul.navcontent__list
      li.navcontent__item
        a(href="") バックナンバー
      li.navcontent__item
        a(href="") 広報部発行資料
  .searchinput
    .searchinput__inner.js-searchInput
      form(action="/search", role="search").search
        input(type="text", placeholder="記事を検索", name="q", value="")
        button(type="submit")
          span.fa.fa-search.text-muted
  .sidemenu.js-sidemenu
    .siedmenu__inner
      .button__close.js-menuClose
        img(src="/asset/img/btn_close.png", alt="閉じる")
      ul.sidemenu__list
        li.sidemenu__item
          a(href="") News & Topics
          ul.child.bg--gray
            li.child__item
              a(href="") 受注速報
            li.child__item
              a(href="") 営業報告
            li.child__item
              a(href="") プロジェクトストーリー
            li.child__item
              a(href="") 社内スペシャリスト投票
            li.child__item
              a(href="") セミナー
            li.child__item
              a(href="") 管理部からのお知らせ
        li.sidemenu__item
          a(href="") People
          ul.child
            li.child__item
              a(href="") 社員インタビュー
            li.child__item
              a(href="") SHARE CONNECTION
            li.child__item
              a(href="") 新入社員紹介
        li.sidemenu__item
          a(href="") Column
          ul.child
            li.child__item
              a(href="") 社内報おすすめコーナー紹介
            li.child__item
              a(href="") はた研よ大志を抱け！
            li.child__item
              a(href="") 会社近くのおすすめスポット
            li.child__item
              a(href="") 巣鴨食べログ
        li.sidemenu__item
          a(href="") Library
          ul.child
            li.child__item
              a(href="") バックナンバー
            li.child__item
              a(href="") 広報部発行資料

_inc/header_sp.html

<header class="spheader" id="header">
	<div class="spheader__inner">
		<div class="spheader--left">
			<div class="menu_trigger js-menuOpen"><img src="/asset/img/btn_menu.png" alt="MENU"/></div>
		</div>
		<div class="spheader--center">
			<div class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"/></a></div>
		</div>
		<div class="spheader--right">
			<div class="controller">
				<div class="button__mypage"><a href="/mypage"><img src="/asset/img/icon_user.png" alt="My page"/></a></div>
				<div class="button__search js-searchToggle"><img src="/asset/img/icon_search.png" alt="検索"/></div>
			</div>
		</div>
	</div>
	<nav class="nav">
		<ul class="navlist js-navList">
			<!-- URL current は .is_current を付与する-->
			<li class="navlist__item"><a href="/">News & Topics</a></li>
			<li class="navlist__item"><a href="/">People</a></li>
			<li class="navlist__item"><a href="/">Column</a></li>
			<li class="navlist__item"><a href="/">Library</a></li>
		</ul>
	</nav>
	<div class="navcontent">
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">受注速報</a></li>
			<li class="navcontent__item"><a href="">営業報告</a></li>
			<li class="navcontent__item"><a href="">プロジェクトストーリー</a></li>
			<li class="navcontent__item"><a href="">社内スペシャリスト投票</a></li>
			<li class="navcontent__item"><a href="">セミナー</a></li>
			<li class="navcontent__item"><a href="">管理部からのお知らせ</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">社員インタビュー</a></li>
			<li class="navcontent__item"><a href="">SHARE CONNECTION</a></li>
			<li class="navcontent__item"><a href="">新入社員紹介</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">社内報おすすめコーナー紹介</a></li>
			<li class="navcontent__item"><a href="">はた研よ大志を抱け！</a></li>
			<li class="navcontent__item"><a href="">会社近くのおすすめスポット</a></li>
			<li class="navcontent__item"><a href="">巣鴨食べログ</a></li>
		</ul>
		<ul class="navcontent__list">
			<li class="navcontent__item"><a href="">バックナンバー</a></li>
			<li class="navcontent__item"><a href="">広報部発行資料</a></li>
		</ul>
	</div>
	<div class="searchinput">
		<div class="searchinput__inner js-searchInput">
			<form class="search" action="/search" role="search">
				<input type="text" placeholder="記事を検索" name="q" value=""/>
				<button type="submit"><span class="fa fa-search text-muted"></span></button>
			</form>
		</div>
	</div>
	<div class="sidemenu js-sidemenu">
		<div class="siedmenu__inner">
			<div class="button__close js-menuClose"><img src="/asset/img/btn_close.png" alt="閉じる"/></div>
			<ul class="sidemenu__list">
				<li class="sidemenu__item"><a href="">News & Topics</a>
					<ul class="child bg--gray">
						<li class="child__item"><a href="">受注速報</a></li>
						<li class="child__item"><a href="">営業報告</a></li>
						<li class="child__item"><a href="">プロジェクトストーリー</a></li>
						<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
						<li class="child__item"><a href="">セミナー</a></li>
						<li class="child__item"><a href="">管理部からのお知らせ</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">People</a>
					<ul class="child">
						<li class="child__item"><a href="">社員インタビュー</a></li>
						<li class="child__item"><a href="">SHARE CONNECTION</a></li>
						<li class="child__item"><a href="">新入社員紹介</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">Column</a>
					<ul class="child">
						<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
						<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
						<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
						<li class="child__item"><a href="">巣鴨食べログ</a></li>
					</ul>
				</li>
				<li class="sidemenu__item"><a href="">Library</a>
					<ul class="child">
						<li class="child__item"><a href="">バックナンバー</a></li>
						<li class="child__item"><a href="">広報部発行資料</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
