_inc/header.html

<header class="header" id="header">
	<div class="header__inner">
		<div class="header--left">
			<div class="logo"><a href="/"><img src="/asset/img/logo.png" alt="Sanpen.net"/></a></div>
		</div>
		<div class="header--center">
			<nav class="nav">
				<ul class="navlist">
					<li class="navlist__item"><a href="/">News & Topics</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">受注速報</a></li>
								<li class="child__item"><a href="">営業報告</a></li>
								<li class="child__item"><a href="">プロジェクトストーリー</a></li>
								<li class="child__item"><a href="">社内スペシャリスト投票</a></li>
								<li class="child__item"><a href="">セミナー</a></li>
								<li class="child__item"><a href="">管理部からのお知らせ</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">People</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">社員インタビュー</a></li>
								<li class="child__item"><a href="">SHARE CONNECTION</a></li>
								<li class="child__item"><a href="">新入社員紹介</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">Column</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">社内報おすすめコーナー紹介</a></li>
								<li class="child__item"><a href="">はた研よ大志を抱け！</a></li>
								<li class="child__item"><a href="">会社近くのおすすめスポット</a></li>
								<li class="child__item"><a href="">巣鴨食べログ</a></li>
							</ul>
						</div>
					</li>
					<li class="navlist__item"><a href="/">Library</a>
						<div class="child">
							<ul class="child__list">
								<li class="child__item"><a href="">バックナンバー</a></li>
								<li class="child__item"><a href="">広報部発行資料</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header--right">
			<div class="controller">
				<div class="searchinput">
					<form class="search" action="/search" role="search">
						<input type="text" placeholder="記事を検索" name="q" value=""/>
						<button type="submit"><span class="fa fa-search text-muted"></span></button>
					</form>
				</div>
				<div class="button__mypage"><a href="/mypage">My Page</a></div>
			</div>
		</div>
	</div>
</header>

source/pug/_inc/header.pug
header#header.header
  .header__inner
    .header--left
      if page == 'top'
        h1.logo
          a(href="/")
            img(src="/asset/img/logo.png", alt="Sanpen.net")
      else
        .logo
          a(href="/")
            img(src="/asset/img/logo.png", alt="Sanpen.net")
    .header--center
      nav.nav
        ul.navlist
          li.navlist__item
            a(href="/") News & Topics
            .child
              ul.child__list
                li.child__item
                  a(href="") 受注速報
                li.child__item
                  a(href="") 営業報告
                li.child__item
                  a(href="") プロジェクトストーリー
                li.child__item
                  a(href="") 社内スペシャリスト投票
                li.child__item
                  a(href="") セミナー
                li.child__item
                  a(href="") 管理部からのお知らせ
          li.navlist__item
            a(href="/") People
            .child
              ul.child__list
                li.child__item
                  a(href="") 社員インタビュー
                li.child__item
                  a(href="") SHARE CONNECTION
                li.child__item
                  a(href="") 新入社員紹介
          li.navlist__item
            a(href="/") Column
            .child
              ul.child__list
                li.child__item
                  a(href="") 社内報おすすめコーナー紹介
                li.child__item
                  a(href="") はた研よ大志を抱け！
                li.child__item
                  a(href="") 会社近くのおすすめスポット
                li.child__item
                  a(href="") 巣鴨食べログ
          li.navlist__item
            a(href="/") Library
            .child
              ul.child__list
                li.child__item
                  a(href="") バックナンバー
                li.child__item
                  a(href="") 広報部発行資料
    .header--right
      .controller
        .searchinput
          form(action="/search", role="search").search
            input(type="text", placeholder="記事を検索", name="q", value="")
            button(type="submit")
              span.fa.fa-search.text-muted
        .button__mypage
          a(href="/mypage") My Page
